/*@font-face {*/
    /*font-family: 'alex_brushregular';*/
    /*src: url('../fonts/alexbrush/alexbrush-regular-webfont.eot');*/
    /*src: url('../fonts/alexbrush/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/alexbrush/alexbrush-regular-webfont.woff2') format('woff2'),*/
    /*url('../fonts/alexbrush/alexbrush-regular-webfont.woff') format('woff'),*/
    /*url('../fonts/alexbrush/alexbrush-regular-webfont.ttf') format('truetype'),*/
    /*url('../fonts/alexbrush/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/

/*}*/
@font-face {
    font-family: 'chopin_scriptregular';
    src: url('../fonts/chopinscript/chopinscript-webfont.eot');
    src: url('../fonts/chopinscript/chopinscript-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chopinscript/chopinscript-webfont.woff2') format('woff2'),
    url('../fonts/chopinscript/chopinscript-webfont.woff') format('woff'),
    url('../fonts/chopinscript/chopinscript-webfont.ttf') format('truetype'),
    url('../fonts/chopinscript/chopinscript-webfont.svg#chopin_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*@font-face {*/
    /*font-family: 'DIN-Black';*/
    /*src: url('../fonts/DIN-Black/DIN-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/DIN-Black/DIN-Black.woff') format('woff'), url('../fonts/DIN-Black/DIN-Black.ttf')  format('truetype'), */
    /*url('../fonts/DIN-Black/DIN-Black.svg#DIN-Black') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'DIN-Bold';*/
    /*src: url('../fonts/DIN-Bold/DIN-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/DIN-Bold/DIN-Bold.woff') format('woff'), url('../fonts/DIN-Bold/DIN-Bold.ttf')  format('truetype'),*/
    /*url('../fonts/DIN-Bold/DIN-Bold.svg#DIN-Bold') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'DIN-Light';*/
    /*src: url('../fonts/DIN-Light/DIN-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/DIN-Light/DIN-Light.woff') format('woff'), url('../fonts/DIN-Light/DIN-Light.ttf')  format('truetype'),*/
    /*url('../fonts/DIN-Light/DIN-Light.svg#DIN-Light') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
@font-face {
    font-family: 'DIN-Medium';
    src: url('../fonts/DIN-Medium/DIN-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DIN-Medium/DIN-Medium.woff') format('woff'), url('../fonts/DIN-Medium/DIN-Medium.ttf')  format('truetype'),
    url('../fonts/DIN-Medium/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}