@import "fonts.css"

*
  margin: 0
  padding: 0

@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin background-size($width)
  -o-background-size: $width
  -webkit-background-size: $width
  -khtml-background-size: $width
  -moz-background-size: $width
  background-size: $width

@mixin size($width, $height: $width)
  width: $width
  height: $height

@mixin linx($link, $hover, $active)
  a
    color: $link
    &:hover
      color: $hover
    &:active
      color: $active

@mixin pad($pads)
  padding: $pads

@mixin mar($margs)
  margin: $margs

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

html, body
  height: 100%

body
  font-family: 'chopin_scriptregular'
  background: url(../img/bg.png) 50% 50% no-repeat fixed
  @include prefix(background-size, cover)
  position: relative

body.active
  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(72, 72, 72, .5)
    z-index: 2

.cloud
  width: 100%
  height: 100%
  background: url(../img/cloud.png) 50% 50% no-repeat fixed
  @include prefix(background-size, cover)
  animation:         ex4 50s linear infinite
  -moz-animation:    ex4 50s linear infinite
  -webkit-animation: ex4 50s linear infinite

@keyframes ex4
  0%
    background-position: 50% 0
  25%
    background-position: 0 0
  50%
    background-position: 100% 0
  100%
    background-position: 50% 0

@-moz-keyframes ex4
  0%
    background-position: 50% 0
  25%
    background-position: 0 0
  50%
    background-position: 100% 0
  100%
    background-position: 50% 0

@-webkit-keyframes ex4
  0%
    background-position: 50% 0
  25%
    background-position: 0 0
  50%
    background-position: 100% 0
  100%
    background-position: 50% 0

.img1
  background: url(../img/1.png) 0 0 no-repeat
  width: 150px
  height: 164px
  position: absolute
  left: -10px
  top: 15px
  z-index: 2

.img2
  background: url(../img/2.png) 0 0 no-repeat
  width: 388px
  height: 283px
  position: absolute
  right: 0
  top: 0
  z-index: 2

.img3
  background: url(../img/3.png) center 0px no-repeat
  @include prefix(background-size, cover)
  width: 100%
  height: 190px
  position: absolute
  left: 0
  bottom: 0
  z-index: 2

.img4
  background: url(../img/4.png) center 0px no-repeat
  @include prefix(background-size, cover)
  width: 100%
  height: 49px
  position: absolute
  left: 0
  bottom: 0
  z-index: 2

.menu
  background: url(../img/menu.png) center no-repeat
  width: 111px
  height: 76px
  position: absolute
  left: 0
  top: 48%
  padding: 25px
  @include prefix(box-sizing, border-box)
  cursor: pointer
  z-index: 3
  span
    width: 38px
    height: 5px
    display: block
    margin-bottom: 4px
    background: #b09b7a
    z-index: 4
    position: relative

.menu.active
  background: none

.hide-menu
  display: none
  width: 100%
  height: 114px
  background: url(../img/open-menu.png) 0 0 no-repeat
  position: fixed
  left: 0
  top: 48%
  z-index: 3
  ul
    overflow: hidden
    list-style-type: none
    margin: 40px 0 0 170px
    display: inline-block
    @include prefix(transform, rotate(-3deg))
    li
      float: left
      margin-left: 20px
      a
        font-size: 26px
        color: #b99e70
        text-decoration: none

.hide-menu ul:hover li:not(:hover)
  opacity: 0.5

.content
  position: absolute
  left: 50%
  top: 50%
  margin: -122px 0 0 -302px
  text-align: center
  z-index: 2
  h1
    color: #b99e70
    position: relative
    line-height: 76px
    font-size: 76px
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: 0 auto
      width: 300px
      border-bottom: 1px dotted #b99e70
  h2, h3
    color: #b99e70
    font-size: 47px
    position: relative
    margin: 4px 0
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 0
      margin: 0 auto
      width: 230px
      border-bottom: 1px dotted #b99e70
    &:before
      content: ""
      position: absolute
      bottom: -4px
      left: 0
      right: 0
      margin: 0 auto
      width: 7px
      height: 7px
      background: #b99e70
      @include prefix(transform, rotate(45deg))
  h3
    color: #b99e70
    font-size: 29px


  .arr-bot
    width: 27px
    height: 27px
    display: block
    margin: 10px auto 0
    @include border-radius(50%)
    border: 3px solid #85736b
    position: relative
    cursor: pointer
    &:after
      content: ""
      position: absolute
      left: 50%
      top: 50%
      margin: -5px 0 0 -8px
      width: 0
      height: 0
      border-style: solid
      border-width: 14px 8px 0 8px
      border-color: #85736b transparent transparent transparent

#CDT
  font-size: 12px
  position: relative
  padding: 3px 0
  margin: 10px 0
  &:after, &:before
    content: ""
    position: absolute
    left: 50%
    top: 0
    width: 151px
    height: 2px
    margin-left: -76px
    background: url(../img/line.png) 0 0 no-repeat
  &:before
    top: inherit
    bottom: 0

  .number-wrapper
    margin: 0 10px
    position: relative
    font-family: 'DIN-Medium'
    display: inline-block
  .caption
    font-size: 10px

.btn-box
  position: absolute
  right: 50px
  bottom: 50px
  z-index: 2
  .btn1
    width: 20px
    height: 18px
    background: url(../img/btn1.png) 0 0 no-repeat
    border: none
    margin-right: 15px
    cursor: pointer
  .btn2
    width: 18px
    height: 18px
    background: url(../img/btn2.png) 0 0 no-repeat
    border: none
    cursor: pointer




@media screen and (max-width: 905px)
  .img1
    top: -13px

  .hide-menu
    background: none
    top: 18%

  .menu
    top: 18%

  .hide-menu ul
    margin: 10px 0 0 0
    padding: 50px 10px 5px
    display: inline-block
    @include prefix(transform, rotate(0deg))
    background: #dbc9b1
    @include border-radius(0 80px 25px 0)
    li
      float: none
      margin: 0 0 10px 0

@media screen and (max-width: 625px)
  .content
    h1
      line-height: 55px
      font-size: 55px
    h2
      font-size: 35px
    h3
      font-size: 25px

  .content
    margin: -100px 0 0 -220px

@media screen and (max-width: 460px)
  body
    min-width: 320px

  .content
    h1
      line-height: 40px
      font-size: 40px
    h2
      font-size: 30px
    h3
      font-size: 20px

  .content
    margin: -100px 0 0 -160px

  .img2
    background: url(../img/2.png) right 0 no-repeat
    @include prefix(background-size, 52%)

  .img1
    top: -2px
    @include prefix(background-size, 65%)

  .img3
    background: url(../img/3.png) center bottom no-repeat
    @include prefix(background-size, 100%)